@page
@model RazorVectra.Pages.ThankYouModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThankYou</title>
    <link href="~/css/styleThankYou.css" rel="stylesheet" asp-append-version="true"/>
</head>

<body>

    <div class="container-fluid">
        Thank you for your purchase!
    </div>

</body>
</html>
